<html>
	<head>
		<title>Frases Ao Vento</title>

		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    	<!--[if lt IE 9]>
	      		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    	<![endif]-->
	</head>
	<body>
		
		<div class="container">
			<div class="jumbotron">
		  	<h1>Segurança de Sistemas</h1>
		  	<p>
		  		Mensagens ao Vento é um site onde você cadastra suas mensagens de forma segura, usando o algoritmo de criptografia de sua escolha. Digite uma mensagem e escolha o algoritmo de criptografia para codificar sua mensagem.
		  	</p>
		  	<p>
			<a href="{{ url_for('list', cipher='hill') }}"><span class="label label-default">Cifra de Hill - {{ hill }}</span></a>
			<a href="{{ url_for('list', cipher='caesar') }}"><span class="label label-default">Cifra de Cesar - {{ caesar }}</span></a>
			<a href="{{ url_for('list', cipher='otp') }}"><span class="label label-default">OTP - {{ otp }}</span></a>
		  	</p>
			</div>

			<form role="form" action="/" method="post">
				<div class="form-group">
			    <label for="cipher">Cifra</label>
			    <select id="cipher" name="cipher" class="form-control">
			    	<option value="caesar">Cifra de Cesar</option>
			    	<option value="hill">Cifra de Hill</option>
			    	<option value="otp">OTP</option>
			    </select>
			  </div>

			  <div class="form-group">
			    <label for="key">Key</label>
			    <input type="text" class="form-control" id="key" name="key">
			  </div>

				<div class="form-group">
			    <label for="message">Message</label>
			    <textarea class="form-control" id="message" name="message" rows="10"></textarea>
			  </div>


			  <div class="form-group">
			  	<input type="submit" class="btn btn-primary btn-lg">
			  </div>
			</form>

		</div>
	
		<p style="width:100%; background-color: #CCC; padding: 15px; text-align: center; font-size: 16px;">Desenvolvido por: Guilherme Carvalho</p>
	</body>
</html>
